@import "../node_modules/@vscode/codicons/dist/codicon.css";

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

main > * {
  margin: .25rem 0;
}

h5 {
  font-style: italic;
}

button.control {
  padding: 0;
}
.checkline {
  position: relative;
  grid-area: 1 / 1 / span 2 / auto;
  color: var(--vscode-textLink-foreground);
}
.checkline::after {
  content: "";
  position: absolute;
  border-left: 0.1rem solid currentcolor;
  width: 0px;
  top: 1.3rem;
  bottom: -2.4rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.3;
}